.sound {
  cursor: pointer;
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.sound:hover .volume-slider {
  width: 100px;
  transform: scaleX(1);
}
